@page "/"

<PageTitle>MOODLE GENERAATTORI</PageTitle>

<h1>Moodle generaattori</h1>

<Card>
    <CardBody>
        <p>Huomioi, että jos yrittää avata generaattorit käytten linkkiä, se ei toimi. Sama pätee, jos päivittää sivun generaattoreissa.
        <br />
            Kannattaa ottaa etusivun linkki (<a href="https://osaama05.github.io/MoodleHelper/">https://osaama05.github.io/MoodleHelper/</a>) helppoon paikkaan, jotta löydät helposti perille jos näin käy.
            <br />
            <br />
            Käytettävät generaattorit löydät vasemmalta ja alhaalta.
        </p>
    </CardBody>
</Card>

<Card>
    <CardBody>
        <div class="row">
            <div class="col-md-4">
                <h2><a href="@ClickToPage("ShortAnswer/")">AVOIN VASTAUS</a></h2>
                <p>
                    Avoimessa vastauksessa vastataan suoraan tekstillä. Mahdollista myös merkata vastaukset merkkiriippuvaisiksi. Kaikkia mahdollisia vastausvaihtoehtoja ei tarvitse luetella. Useampia vastausvaihtoehtoja voi kuitenkin lisätä, jos haluaa antaa palautetta tietyistä vääristä vastauksista. 
                </p>
                <p>Esimerkki avoimen kysymyksen ulkonäöstä:</p>
                <img src="@saSource" />
            </div>

            <div class="col-md-4">
                <h2><a href="@ClickToPage("Numerical/")">NUMEERINEN VASTAUS</a></h2>
                <p>
                    Numeerinen vastaus on vastaus, johon vastataan numeroilla. Kaikkia mahdollisia vastausvaihtoehtoja ei tarvitse luetella. Useampia vastausvaihtoehtoja voi kuitenkin lisätä, jos haluaa antaa palautetta tietyistä vääristä vastauksista.
                </p>
                <p>Esimerkki numeerisen kysymyksen ulkonäöstä:</p>
                <img src="@numSource" />
            </div>

            <div class="col-md-4">

                <h2><a href="@ClickToPage("MultiChoice/")">MONIVALINTA</a></h2>
				<p>
                    Monivalinnassa valitaan yksi tai useampi vastaus vastauslistasta.
                </p>
                <p>Esimerkki monivalinnan esitystyyleistä:</p>

                <div class="col-md-4">
                    <label for="mcr">Rivissä:</label>
                    <img src="@mcrSource" id="mcr" />
                </div>
                <br>
                <div class="col-md-4">
                    <label for="mcl">Päällekkäin:</label>
					<img src="@mcvSource" for="mcl" />
                </div>
                <br>
                <div class="col-md-4">
                    <label for="mcd">Pudotusvalikossa:</label>
					<img src="@mcdSource" id="mcd" />
                </div>
            </div>
        </div>
    </CardBody>
</Card>

@code
{
    private string site = "/";
    private string currentSite;
    private string saSource = $"images/examples/shortanswer.png";
    private string numSource = $"images/examples/numerical.png";
    private string mcrSource = $"images/examples/multichoice_row.png";
    private string mcvSource = $"images/examples/multichoice_line.png";
    private string mcdSource = $"images/examples/multichoice_dropdown.png";

    private string ClickToPage(string page) => currentSite = site + page;
}