@page "/Numerical"
@using static SyntaxGenerator.SyntaxGen
@using SyntaxGenerator.Models
@inject ClipboardService ClipboardService

<PageTitle>Numeerinen | MOODLE GENERAATTORI</PageTitle>


<h3>Numeerinen</h3>

<div class="row mb-4">
    <div class="col-md-2">
        <div class="form-group">
            <label for="itemCount">Vastausvaihtoehtojen määrä:</label>
            <input type="number" class="form-control w-100" value="@itemCount" @oninput="onchange_n" max="10" min="0">
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <Tooltip Title="Oikeasta vastauksesta annettavien pisteiden määrä" for="maxPoints">Maksimipistemäärä:</Tooltip>
            <input type="number" class="form-control w-100" @bind="@maxPoints">
        </div>
    </div>
</div>

@for (int i = 0; i < itemCount; i++)
{
    var currentItem = questionOptions[i];

    <div class="row mb-4">
        <div class="col-md-3">
            <div class="form-group">
                <label for="@($"questionText-{i}")">Vastaus:</label>
                <input type="number" class="form-control w-100" id="@($"questionText-{i}")" @bind="@currentItem.Answer" step="any"/>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <Tooltip Title="Kuinka paljon vastaus voi poiketa oikeasta antaen vielä täydet pisteet" for="@($"margin-{i}")">Pistemarginaali:</Tooltip>
                <input type="number" class="form-control w-100" id="@($"margin-{i}")" @bind="@marginAmount" step="any" />
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <Tooltip Title="Kuinka monta prosenttia maksimipisteitä tästä vastauksesta annetaan (100 = oikea vastaus)" for="@($"points-{i}")">Prosenttiosuus maksimipisteistä:</Tooltip>
                <input type="number" class="form-control w-100" id="@($"points-{i}")" @bind="@currentItem.PointsPercent" />
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <Tooltip Title="Annettava palaute, mikäli oppilas vastaa tämän vastauksen" for="@($"feedback-{i}")">Palaute:</Tooltip>
                <textarea class="form-control w-100" id="@($"feedback-{i}")" @bind="@currentItem.Feedback" placeholder="Tehtäväkohtainen palaute"></textarea>
            </div>
        </div>
    </div>
}

@code
{
    private int itemCount = 0, total = 0;
    bool test = false;

    private List<QuestionOption> questionOptions = new List<QuestionOption>();

    private void onchange_n(ChangeEventArgs e)
    {
        if (Int32.TryParse(e.Value.ToString(), out int items))
        {
            itemCount = items;
            while (questionOptions.Count < itemCount)
            {
                questionOptions.Add(new QuestionOption { Answer = 0, PointsPercent = 100, Feedback = "" });
        }

            while (questionOptions.Count > itemCount)
            {
                questionOptions.RemoveAt(questionOptions.Count - 1);
            }
            StateHasChanged();
        }
    }
}

<div class="row mb-4">
    <div class="col-md-12">
        <div class="form-group">
            <Button Color="ButtonColor.Primary" Outline="true" @onclick="GenerateNumerical">Luo syntaksi</Button>
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(numericalResult))
    {
        <div class="col-md-12">
            <div class="form-group">
                <h2>Tulos:</h2>
                <pre>@numericalResult</pre>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <Button Color="ButtonColor.Secondary" Outline="true" @onclick="CopyToClipboard">Kopioi</Button>
            </div>
        </div>
    }
</div>

@code {
    bool agree1; 
    private bool enabled = false;
    private bool disabled = true;
    private string numericalResult = "";
    private static string answerString { get; set; }
    private decimal marginAmount = 0;
    private static string pointAmount { get; set; }
    private static decimal decimalAnswer;
    string previous = "";
    string feedbackString = "";
    int maxPoints = 1;
    List<int> ListOfPoints = new List<int>();
    List<AnswerOption> AnswersList = new List<AnswerOption>();


    private void GenerateNumerical()
    {
        AnswersList.Clear();
        ListOfPoints.Clear();
        foreach (var option in questionOptions)
        {
            AnswersList.Add(new AnswerOption(option.Answer.ToString(), option.Feedback, option.PointsPercent));
        }
        numericalResult = CreateNumerical(AnswersList, feedbackString, Convert.ToDecimal(marginAmount), maxPoints);
    }

    async Task CopyToClipboard()
    {
        // Writing to the clipboard may be denied, so you must handle the exception
        try
        {
            await ClipboardService.WriteTextAsync(numericalResult);
        }
        catch
        {
            Console.WriteLine("Cannot write text to clipboard");
        }
    }
    public class QuestionOption
    {
        public decimal Answer { get; set; }
        public int PointsPercent { get; set; }
        public string Feedback { get; set; }
    }

}